@font-face {
  font-family: 'Proxima Regular';
  src: url('./assets/fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'Proxima Bold';
  src: url('./assets/fonts/Proxima Nova Bold.otf');
}

body {
  margin: 0;
  font-family: "Proxima Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
